<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Payslip PDF</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Upload Payslip PDF</h1>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="notification is-danger">
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="field">
                    <label class="label">PDF/Excel File</label>
                    <div class="control">
                        <input class="input" type="file" name="file" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
