<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview Payslip</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Preview Payslip</h1>
            <embed src="{{ url_for('static', filename='extracted/' ~ filename) }}" width="600" height="800" type="application/pdf">
        </div>
    </section>
</body>
</html>
